<div class="caja_projects">

    <h2>
        Projectos
    </h2>


    <div class="proyectos">
        <div class="proyecto">
            <img src="../../assets/sitioweb.jpg" alt="">
            <a href="https://github.com" class="verCodigo  btn">Github <img src="../../assets/github.png"></a>
            <a href="#" class="verDemo btn" >Demo</a>
        </div>

        <div class="proyecto">
            <img src="../../assets/sitioweb1.jpg" alt="">
            <a href="https://github.com" class="verCodigo  btn">Github <img src="../../assets/github.png" alt=""></a>
            <a href="#" class="verDemo btn">Demo</a>
        </div>

        <div class="proyecto">
            <img src="../../assets/sitioweb2.jpg" alt="">
            <a href="https://github.com" class="verCodigo  btn">Github <img src="../../assets/github.png"></a>
            <a href="#" class="verDemo btn">Demo</a>
        </div>
    </div>
</div>